
body{
    height: 100vh;
}
//modificamos el box shadow de los input por defecto
$input-focus-box-shadow:0 0 8px 1px red;

//este div estará oculto hasta pulsar el boton del formulario
.alert{
    display: none;
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";

